.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

input, textarea, select {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.App-body {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

pre {
  text-align: left;
  background: #f4f4f4;
  padding: 10px;
  overflow: auto;
}
.App-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
color: #61dafb;
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}

.link {
  padding:10px;
  background-color: #61dafb;
  color:white;
  text-decoration: none;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  list-style-type: none;
}

.pagination li{
  border:none;
}

.page-item {
  margin: 0 0.25rem;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  background-color: #37393b;
  color: #61dafb;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #707070;
}

.page-item.active .page-link {
  background-color: #61dafb;
  color: white;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.5;
}
.error{
  color: #d31d1d;
}
.center{
  display: flex;
  justify-content: center;
}